.validData-wrapper {
    height: 200px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    bottom: 35px;
    right: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close {
    position: absolute;
    top: 17px;
    right: 25px;
    font-weight: 600;
}